<div class="jumbotron">
  <h1>Thông tin</h1>
  <pre>
  Demo cho đồ án tốt nghiệp “Chữ ký số trên đường cong elliptic”.
  <b>Tác giả:</b> Khổng Minh Trí - Đại học bách khoa Hà Nội
  <b>Thầy hướng dẫn:</b> TS. Trần Vĩnh Đức
  <b>Ngôn ngữ lập trình:</b> Ruby
  <b>Framework:</b> Rails
  <b>Source:</b> <%= link_to "https://github.com/trikmbk56/ecdsa_demo",
    "https://github.com/trikmbk56/ecdsa_demo" %>
  </pre>
</div>
