<div class="center jumbotron">
  <h1>Chữ ký số trên đường cong elliptic</h1>
  <img src="assets/dsa.png" alt="dsa">
  <br>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
