<div class="col-md-3" align="center">
  <%= gravatar_for user %>
  <table class="table" id="information">
    <tbody>
      <tr>
        <td>Tên</td>
        <td><b><%= user.name %></b></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><b><%= user.email %></b></td>
      </tr>
    </tbody>
  </table>
</div>
