<div class="panel panel-info">
  <div class="panel panel-heading">
    <div class="panel-title" align="center">Hồ sơ cá nhân</div>
  </div>
  <div class="panel-body">
    <div class="row">
      <%= render "profile", user: @user %>
    </div>
  </div>
</div>
