<h2 class="title">3. Xác minh chữ ký</h2>
<form>
  <fieldset class="form-group">
    <label for="message">Thông điệp cần xác minh</label>
    <textarea rows="4" class="form-control" id="message-verify"
      placeholder="Nội dung ..."></textarea>
  </fieldset>

  <fieldset class="form-group">
    <label for="signature">Chữ ký (hex)</label>
    <textarea rows="3" class="form-control" id="signature-verify"
      placeholder="Nội dung ..."></textarea>
  </fieldset>

  <fieldset class="form-group">
    <center>
      <button type="button" class="btn btn-primary btn-submit"
      id="btn-vrf-signature">Xác minh chữ ký</button>
    </center>
  </fieldset>

  <fieldset class="form-group">
    <center>
      <div class="alert alert-success" id="success-mess">
        <button type="button" class="close close-alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>Chữ ký hợp lệ</strong>
      </div>

      <div class="alert alert-danger" id="danger-mess">
        <button type="button" class="close close-alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>Chữ ký không hợp lệ</strong>
      </div>
    </center>
  </fieldset>
</form>	
