<div class="row">
  <div class="col-md-4 normal">
    <%= render "gen_key" %>
  </div>

  <div class="col-md-4 normal">
    <%= render "gen_signature" %>
  </div>

  <div class="col-md-4 normal">
    <%= render "verify_signature" %>
  </div>
</div>
