<footer class="footer">
  <div class="container">
    <small>
      Thuật toán chữ ký số trên đường cong elliptic
    </small>
    <small class="pull-right">
      <ul>
        <li><%= link_to "Trợ Giúp", help_path %></li>
        <li><%= link_to "Thông tin", about_path %></li>
      </ul>
    </small>
  </div>
</footer>
