<footer class="footer">
  <div class="container">
    <small>
      Thuật toán chữ ký số trên đường cong elliptic
    </small>
    <small class="pull-right">
      Made by <%= link_to "Khổng Minh Trí", "https://www.facebook.com/trikm.bk56" %>
    </small>
  </div>
</footer>
